# Training the LSTM on your Data

This notebook will take you through the steps necessary to train an LSTM to recognize ICD-9 codes, or items from similar dictionaries, from free text.

## Setup

### Imports

Make sure that the below packages are installed on the server on which this program will run.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append('src/taggerSystem/')
from data_util import load_and_preprocess_data, load_embeddings, ModelHelper, lastTrueWordIdxs
import tensorflow as tf
from simpleLSTMWithNNetModel import Model, reloadModel
from trainModel import trainModel
import os
import pprint
import numpy as np
import pickle
pp = pprint.PrettyPrinter(indent=4)

### A bit of data clean-up on the CSU data

In [3]:
import pandas as pd
from IPython.display import display, HTML

In [83]:
csu = pd.read_csv('data/csu_snomed_test', sep='\t')
display(csu)

,id,case_number,invoice_number,combined,all_groups,top_levels
0,909695,296423,3393678,"Gracie, a 2 year old female spayed Bernese Mou...",232234000|3135009|246075003|18097004|275441009...,3-7-17-13-7-17-13-17-1-13-11-17-13
1,909696,296422,3393679,Truman was presented to the CSU Orthopedic Sur...,450876003|272741003|7771000,NaN
2,909698,291144,3393683,"Twila is an 11 month old, female spayed, DSH f...",102499006,17
3,909699,295061,3393684,Rufus is a 9 month old male intact Newfoundlan...,183644000|R44462005|363698007|R23416004|272741...,17-14-17-14
4,909706,296425,3393700,This patient was a stray geriatric female cat ...,88610006|S42399005|371597004,17-11-17-17
5,909713,290876,3393712,"Lincoln, a 5 year old male castrated Bouvier d...",R24079001|RS119292006|R363732003,3-3-17-13-17-10-17-3
6,909725,295452,3393727,"Ruddr, a 5mo MI Labrador, was represented to t...",R298005009|363698007|R116013008|272741003|7771000,17
7,909739,295253,3393748,"Sophie has been sneezing more this week, the o...",R118600007|21911005|69960004|363701004|387227009,17-4-2
8,909740,291538,3393749,"Penny, an 11 year old female spayed Miniature ...",R128091003|R25121006|R75331009|R235856003|2460...,3-17-3-4-4-3-17-3-4-4-4-17-10
9,909742,267273,3393752,"24-hour history of collapse, lethargy. Abdomin...",373945007|389026000|271737000|371019009|234120...,17-8-17-17-3-17-17-8-17-8-17-8-2-17-2-10-17-2
10,909743,283655,3393751,Bremen is a 3 year old MI German Shepherd who ...,236425005|42752001|S90708001|R29738008|R532980...,11-17-17-11-17-11-17
11,909744,295375,3393753,Kita presented on 3/28/14 for a recheck evalua...,R372130007|116676008|R397010005|R94392001|1166...,17-13-2-17-2
12,909750,295564,3393762,Cyrus is a 1 year Black Airedale that was pres...,R416956002|47429007|R85828009|405729008|642260...,14-17-17-17-17-10-17-1-1-10
13,909763,822998,3393777,Lucho is a 21 year old Warmblood gelding prese...,36202009|263273002|48947008|2556008|80967001|8...,18-17-10-18-17-10-17-17-10-18-17-1-10
14,909768,208485,3393784,Curecanti is a 13 year old male castrated Husk...,210294003|116676008|391894009|363698007|447370...,18-7-17
15,909779,283831,3393799,Nellie presented to CSU Community Practice for...,R372010005|116676008|R5658009|363698007|R19704...,17-2-17-7
16,909786,267099,3393811,See cardiology report Assessment: See cardiolo...,R11851006|116676008|R33359002|5375005|R3834100...,17-8-17-8-17-8-17-8-17-8-9-17
17,909790,295383,3393815,Buddy is an almost 3 year old MC Labrador retr...,R236071009|363698007|R14742008|3219008|6422600...,17-10-17-17-10-17-10-17-10-17-10
18,1072185,316861,3954669,"Bones, a 9-year-old male castrated German Shep...",R255028004|R94098005|116676008|R68453008|36369...,17-3-2-17-3-2-17-2-17-6-17-8-9-17-8
19,1072229,334703,3954733,Danny is a 12 year old MC mixed breed dog who ...,R239866002|272741003|51440002|R396275006|36369...,14-17-14-17
20,911996,835890,3398076,"""PB"" is a 27 year old female Quarter horse pre...",102499006|57831000|127785005|363701004|9146300...,17
21,912001,296972,3398086,Sophie presented today for a consult after a m...,306140002|81680005|3219008,17-17
22,912002,257978,3398087,"Buffett, is a 6 year old, male castrated, mixe...",R24079001,3-3-17-13
23,912005,841790,3398091,"Bailey, a 3yo FI breeding sow, presented to th...",239866002|272741003|7771000,14-17
24,912006,832146,3398093,"Casper, a 25 year old Quarter horse gelding, p...",9991008|42752001|128524007|116676008|42164003|...,17-17-10-17-10
25,912007,296570,3398094,"Fancy, a 12 year old female spayed DLH, presen...",R68566005|R73211009|88610006|45854000,11-17-1-3-17-3-17
26,912010,278154,3398098,Pepper presented on 4/22/14 for a recheck eval...,R94392001|116676008|R127580003|R94766006|R1099...,17-2-17-6-2-17-3-7-17-17-13-2
27,912012,291248,3398101,Dudley is a 5 year old Bull Terrier who presen...,2556008|441798003|66383009|116676008|405819006...,17-10-17-10-17-10-17-8
28,912018,834283,3398108,Ty is a 12 year old gelding used for jumping c...,R398733004|363698007|R18033002|272741003|24028...,14-17-14-17-17
29,900819,285206,3380370,Aggie presented to the Oncology Service on 1/2...,R307576001|363698007|R119524001|272741003|2402...,14-17-2-14-17-2-17-2-9-17
...,...,...,...,...,...,...
33711,1051404,329196,3890689,Izzy is a 7 year old female spayed black Golde...,R94767002|116676008|RS78303004|363698007|R8186...,17-6-2-17-6-17-10-17
33712,1051405,281336,3890690,"Lynus, a 9 year old castrated male mixed breed...",92380000|116676008|22257004|254725004|312968005,17-13-2-17-13
33713,1051406,323333,3890691,Cody is a 12 yo FS Eskimo dog that presented t...,R372130007|116676008|R397010005|R92288009|1166...,17-13-2-17-13-2-17-13-2
33714,1051409,271258,3890694,"Flame, a 14 year old FS DSH, presented to CSU'...",R56317004|3219008|371019009|R414916001|183644000,17-13-17-3-17-17-17
33715,1051412,320599,3890699,"Plato, a a 3 year old male castrated Chihuahua...",R166643006|R263029007|272741003|51440002,17-14-17
33716,1051424,329052,3890715,Lucky is a 13yo MC Lab that was presented to t...,R372130007|116676008|R397010005|R94392001|1166...,17-13-2-17-2
33717,1051432,327411,3890725,"Idgie, a 12 year old female spayed Shih Tzu mi...",183644000|255234002|172132001|272741003|240280...,17-15-17-7-17-7-17-7-17-7-17-7-17
33718,1051437,329931,3890731,"Gus, a 15-month-old male castrated Labrador Re...",370470002|363698007|122496007|370470002|363698...,14-17-1-14-14-17-1-14-17-1
33719,1051439,325402,3890733,Totto is a 12 year old male castrated standard...,R402817004|363698007|R116667001|272741003|7771...,17-13-2-17-13-2-17-18-17-1
33720,1051444,325157,3890740,Bouquie is a 8yo FS Boston terrier that was pr...,R118600007|372130007|116676008|397010005,17-4-2-17-13-2
33721,1051461,267302,3890759,Barrett is a 6.5-year-old male castrated Germa...,R402939001|RS31184003|42752001|RS370540009|R23...,17-1-13-17-3-7-17-13
33722,1075239,301686,3960117,"Jalapeno, a 10.5-year-old FS Great Dane, was p...",R396275006|272741003|363698007|51440002|R11601...,14-17
33723,1051471,329940,3890773,George Lucas is a 5-year-old MI English Mastif...,306140002|307576001|363698007|75129005|2727410...,14-17-2-14-17-17-13-17-13
33724,1051477,323107,3890780,Gus is a 13 year old MC Border Collie who was ...,239866002|272741003|7771000|363837002,14-17
33725,1051498,329945,3890806,"Dharma, a 12-year-old spayed female mixed bree...",41427001|47429007|191357009|19829001|47429007|...,17-9-17-3-4-17-9-17-3-4-17-2-9
33726,1051511,294795,3890825,"Grizzly, a 12 year old, neutered male Labrador...",RS231834005|363698007|S62736007|272741003|7771...,17-2-7-17-17
33727,1051515,329948,3890832,Tiberius is a 9 year old male castrated mixed ...,275320004|116676008|27515001|8367003,18-17-13
33728,1051530,329951,3890849,Sunny initially presented to his pDVM for pelv...,20425006|45170000|3219008|30746006|167699000,7-17-17-6-17-17
33729,1051535,308348,3890854,"Tulo, a 5 year old intact male Cocker Spaniel,...",R128091003|183644000|R166643006|246075003|RS11...,3-17-3-4-4-17-17
33730,1051553,328459,3890879,Dot presented on Saturday for a bandage change...,R208394006|272741003|7771000|18949003,18-14-17-14
33731,1051564,258493,3890890,"Neo, a 10 year-old male castrated domestic sho...",78104003|3219008|76067001|248573009,17-17-17-17
33732,1051566,313344,3890892,Widget is an 11 year old female spayed Austral...,271825005|94742000|307202004|91602002,17-17-3-2-17-9
33733,1051587,324900,3890914,Ginger is a 6 year old FS Dachshund that prese...,183644000|R36427004|363698007|R122496007|RS816...,17-14-17-14-17-17-3-17-3-17-17-13-17-1-13-17-1...
33734,1051590,315405,3890917,Frankie presented to the CSU Cardiology Servic...,R94742000|116676008|RS51747000|R94865004|36369...,17-3-2-17-8-2-17-8-2-17-17-8-17-9-17-17-17-10-...
33735,1051593,261136,3890922,Willie an approximately 12 year old male castr...,R372012002|116676008|R2424003|363698007|R36814...,17-2-17-17-2-10-3-17-3-4-4
33736,1051617,307340,3890954,Kearney is an approximately 7 year old spayed ...,R70667005|3219008|R271835004|R14760008|R260790...,17-10-17-17-17-10-17-17-17-17-10-17-17-6-9-17-...
33737,1051619,265333,3890955,"Sadie, a 6.5 year old female spayed Leonburger...",R414916001|RS235856003|166643006|182782007|246...,17-17-10-17
33738,1051624,290222,3890961,Vicki is an 11 year old FS Beagle who was pres...,R166643006|R414916001|R29738008|2556008|175520...,17-17-17-17-10-17-10
33739,1051626,327582,3890964,"Cesar, a 6 year old male intact mixed breed do...",R118600007|249519007|3219008,17-4-2-17-17
33740,1051640,329987,3890985,"Annie, a 9.5-year-old female spayed Australian...",S396275006|S3723001|S246980005|272741003|51440...,14-17-14-17-17-14-17-6-7-17-17-17

In [84]:
csu['CHARTDATE'] = np.nan
csu['DESCRIPTION'] = np.nan
csu['Level2ICD'] = np.nan
csu['TopLevelICD'] = np.nan

display(csu[:5])

,id,case_number,invoice_number,combined,all_groups,top_levels,CHARTDATE,DESCRIPTION,Level2ICD,TopLevelICD
0,909695,296423,3393678,"Gracie, a 2 year old female spayed Bernese Mou...",232234000|3135009|246075003|18097004|275441009...,3-7-17-13-7-17-13-17-1-13-11-17-13,NaN,NaN,NaN,NaN
1,909696,296422,3393679,Truman was presented to the CSU Orthopedic Sur...,450876003|272741003|7771000,NaN,NaN,NaN,NaN,NaN
2,909698,291144,3393683,"Twila is an 11 month old, female spayed, DSH f...",102499006,17,NaN,NaN,NaN,NaN
3,909699,295061,3393684,Rufus is a 9 month old male intact Newfoundlan...,183644000|R44462005|363698007|R23416004|272741...,17-14-17-14,NaN,NaN,NaN,NaN
4,909706,296425,3393700,This patient was a stray geriatric female cat ...,88610006|S42399005|371597004,17-11-17-17,NaN,NaN,NaN,NaN

In [85]:
csu.rename(columns={'id': 'HADM_ID', 'case_number':'SUBJECT_ID', 'combined':'TEXT', 'all_groups':'ICD9_CODE', 'top_levels':'V9'}, inplace=True)

In [86]:
#df.drop(['B', 'C'], axis=1)

csu.drop(['invoice_number'], axis=1, inplace=True)
display(csu[:5])

,HADM_ID,SUBJECT_ID,TEXT,ICD9_CODE,V9,CHARTDATE,DESCRIPTION,Level2ICD,TopLevelICD
0,909695,296423,"Gracie, a 2 year old female spayed Bernese Mou...",232234000|3135009|246075003|18097004|275441009...,3-7-17-13-7-17-13-17-1-13-11-17-13,NaN,NaN,NaN,NaN
1,909696,296422,Truman was presented to the CSU Orthopedic Sur...,450876003|272741003|7771000,NaN,NaN,NaN,NaN,NaN
2,909698,291144,"Twila is an 11 month old, female spayed, DSH f...",102499006,17,NaN,NaN,NaN,NaN
3,909699,295061,Rufus is a 9 month old male intact Newfoundlan...,183644000|R44462005|363698007|R23416004|272741...,17-14-17-14,NaN,NaN,NaN,NaN
4,909706,296425,This patient was a stray geriatric female cat ...,88610006|S42399005|371597004,17-11-17-17,NaN,NaN,NaN,NaN

In [87]:
#df = df[['mean', 4,3,2,1]]

csu = csu[['HADM_ID', 'SUBJECT_ID','ICD9_CODE','CHARTDATE','DESCRIPTION','TEXT','Level2ICD','TopLevelICD','V9']]
display(csu[:5])

,HADM_ID,SUBJECT_ID,ICD9_CODE,CHARTDATE,DESCRIPTION,TEXT,Level2ICD,TopLevelICD,V9
0,909695,296423,232234000|3135009|246075003|18097004|275441009...,NaN,NaN,"Gracie, a 2 year old female spayed Bernese Mou...",NaN,NaN,3-7-17-13-7-17-13-17-1-13-11-17-13
1,909696,296422,450876003|272741003|7771000,NaN,NaN,Truman was presented to the CSU Orthopedic Sur...,NaN,NaN,NaN
2,909698,291144,102499006,NaN,NaN,"Twila is an 11 month old, female spayed, DSH f...",NaN,NaN,17
3,909699,295061,183644000|R44462005|363698007|R23416004|272741...,NaN,NaN,Rufus is a 9 month old male intact Newfoundlan...,NaN,NaN,17-14-17-14
4,909706,296425,88610006|S42399005|371597004,NaN,NaN,This patient was a stray geriatric female cat ...,NaN,NaN,17-11-17-17

In [88]:
csu.to_csv('data/csu_test_revise2', sep=',')

In [5]:
csu = pd.read_csv('data/csu_test_revise2', sep=',')

In [16]:
csu.iloc[:,6:7]

                                                    TEXT
0      Gracie, a 2 year old female spayed Bernese Mou...
1      Truman was presented to the CSU Orthopedic Sur...
2      Twila is an 11 month old, female spayed, DSH f...
3      Rufus is a 9 month old male intact Newfoundlan...
4      This patient was a stray geriatric female cat ...
5      Lincoln, a 5 year old male castrated Bouvier d...
6      Ruddr, a 5mo MI Labrador, was represented to t...
7      Sophie has been sneezing more this week, the o...
8      Penny, an 11 year old female spayed Miniature ...
9      24-hour history of collapse, lethargy. Abdomin...
10     Bremen is a 3 year old MI German Shepherd who ...
11     Kita presented on 3/28/14 for a recheck evalua...
12     Cyrus is a 1 year Black Airedale that was pres...
13     Lucho is a 21 year old Warmblood gelding prese...
14     Curecanti is a 13 year old male castrated Husk...
15     Nellie presented to CSU Community Practice for...
16     See cardiology report Assessment: See cardiolo...
17     Buddy is an almost 3 year old MC Labrador retr...
18     Bones, a 9-year-old male castrated German Shep...
19     Danny is a 12 year old MC mixed breed dog who ...
20     "PB" is a 27 year old female Quarter horse pre...
21     Sophie presented today for a consult after a m...
22     Buffett, is a 6 year old, male castrated, mixe...
23     Bailey, a 3yo FI breeding sow, presented to th...
24     Casper, a 25 year old Quarter horse gelding, p...
25     Fancy, a 12 year old female spayed DLH, presen...
26     Pepper presented on 4/22/14 for a recheck eval...
27     Dudley is a 5 year old Bull Terrier who presen...
28     Ty is a 12 year old gelding used for jumping c...
29     Aggie presented to the Oncology Service on 1/2...
...                                                  ...
33711  Izzy is a 7 year old female spayed black Golde...
33712  Lynus, a 9 year old castrated male mixed breed...
33713  Cody is a 12 yo FS Eskimo dog that presented t...
33714  Flame, a 14 year old FS DSH, presented to CSU'...
33715  Plato, a a 3 year old male castrated Chihuahua...
33716  Lucky is a 13yo MC Lab that was presented to t...
33717  Idgie, a 12 year old female spayed Shih Tzu mi...
33718  Gus, a 15-month-old male castrated Labrador Re...
33719  Totto is a 12 year old male castrated standard...
33720  Bouquie is a 8yo FS Boston terrier that was pr...
33721  Barrett is a 6.5-year-old male castrated Germa...
33722  Jalapeno, a 10.5-year-old FS Great Dane, was p...
33723  George Lucas is a 5-year-old MI English Mastif...
33724  Gus is a 13 year old MC Border Collie who was ...
33725  Dharma, a 12-year-old spayed female mixed bree...
33726  Grizzly, a 12 year old, neutered male Labrador...
33727  Tiberius is a 9 year old male castrated mixed ...
33728  Sunny initially presented to his pDVM for pelv...
33729  Tulo, a 5 year old intact male Cocker Spaniel,...
33730  Dot presented on Saturday for a bandage change...
33731  Neo, a 10 year-old male castrated domestic sho...
33732  Widget is an 11 year old female spayed Austral...
33733  Ginger is a 6 year old FS Dachshund that prese...
33734  Frankie presented to the CSU Cardiology Servic...
33735  Willie an approximately 12 year old male castr...
33736  Kearney is an approximately 7 year old spayed ...
33737  Sadie, a 6.5 year old female spayed Leonburger...
33738  Vicki is an 11 year old FS Beagle who was pres...
33739  Cesar, a 6 year old male intact mixed breed do...
33740  Annie, a 9.5-year-old female spayed Australian...

[33741 rows x 1 columns]

### Directories

Executing the following cell will prompt the user to type in the directories corresponding to the training and validation sets, the vocabulary, and the word vector mappings. Defaults are given in the comments below.

Note that the training and test data needs to have one column dedicated to free text (`noteIdx`) and another dedicated to top-level ICD-9 codes (`codeIdx`) associated with each patient. Preferably, the latter should be strung together using '-' as the delimiter (e.g. for patient 1, 1-2-6-4).

Please make sure that the parameters such as the embed size, maximum note length, learning rate, number of maximum training epochs, batch size, hidden layer size, number of neural net layers, and probabilities are to your specification.

### Put sample file with require file headers:

adjust training data headers to match small icd9 training file

In [3]:
data_train = raw_input('What is the path to the training data? ') #default: data/icd9NotesDataTable_train.csv
data_valid = raw_input('What is the path to the validation data? ') #default: data/icd9NotesDataTable_valid.csv
vocab = raw_input('What is the path to the vocabulary? ') #default: data/icd9Vocab.txt
wordVecs = raw_input('What is the path to the vocabulary? ') #data/newgloveicd9.txt. These are length 300 word vectors from GloVE

NUM = "NNNUMMM"
UNK = "UUUNKKK"
EMBED_SIZE = 300 # this should correspond to the length of the word vectors
maxAllowedNoteLength = 1000
max_grad_norm = 5
codeIdx = raw_input('Which column contains top-level ICD-9 codes (outputs) in the training and test data? Default is 9. ')
print codeIdx
textIdx = raw_input('Which column contains notes/text (inputs) in the training and test data? Default is 6. ')
print textIdx
learning_rate = 0.001
training_epochs = 100
batch_size = 256
n_hidden = 200
output_keep_prob = 0.5
input_keep_prob = 1
numLayers = 1

What is the path to the training data? data/csu_train_revise2
What is the path to the validation data? data/csu_test_revise2
What is the path to the vocabulary? data/icd9Vocab.txt
What is the path to the vocabulary? data/newgloveicd9.txt
Which column contains top-level ICD-9 codes (outputs) in the training and test data? Default is 9. 9
9
Which column contains notes/text (inputs) in the training and test data? Default is 6. 6
6

Here, make sure that the output path is specified as you would like. By default, the program saves the output in a folder with the name of your choice within the folder `results`.

If there exists a folder with results that you would like to load again, use that here.

In [4]:
output_path = raw_input('Where are models and performances (to be) saved? ')
output_path = os.path.join('results', output_path)
if output_path == 'results/':
    output_path = 'results/temp'
if not os.path.exists(output_path):
    os.makedirs(output_path)

Where are models and performances (to be) saved? az_csu

## Initialization

Executing the following cell will ask whether or not there is a previously saved model; if not, the model will train features from scratch, and if so, the features will be loaded.

Note that AZ added "int() to the codeIdx and textIdx to resolve some errors that were preventing it from initializing

In [5]:
sizeList = [n_hidden, 150, 75] # these are the weights we will be using

def query_yes_no(question, default="yes"):
    """Ask a yes/no question via raw_input() and return their answer.

    "question" is a string that is presented to the user.
    "default" is the presumed answer if the user just hits <Enter>.
        It must be "yes" (the default), "no" or None (meaning
        an answer is required of the user).

    The "answer" return value is True for "yes" or False for "no".
    """
    valid = {"yes": True, "y": True, "ye": True,
             "no": False, "n": False}
    if default is None:
        prompt = " [y/n] "
    elif default == "yes":
        prompt = " [Y/n] "
    elif default == "no":
        prompt = " [y/N] "
    else:
        raise ValueError("invalid default answer: '%s'" % default)

    while True:
        sys.stdout.write(question + prompt)
        choice = raw_input().lower()
        if default is not None and choice == '':
            return valid[default]
        elif choice in valid:
            return valid[choice]
        else:
            sys.stdout.write("Please respond with 'yes' or 'no' "
                             "(or 'y' or 'n').\n")
            
prev_model = query_yes_no("Is there a previously trained model?")

if prev_model:
    helper, train, dev, train_raw, dev_raw, xTrain, yTrain, xDev, yDev = load_and_preprocess_data(
    data_train = data_train, data_valid = data_valid, 
    maxAllowedNoteLength = maxAllowedNoteLength, 
    codeIdx = int(codeIdx), textIdx = int(textIdx),
    helperLoadPath = output_path)
else:
    #print codeIdx
    #print textIdx
    helper, train, dev, train_raw, dev_raw, xTrain, yTrain, xDev, yDev = load_and_preprocess_data(
    data_train = data_train, data_valid = data_valid, 
    maxAllowedNoteLength = maxAllowedNoteLength, 
    codeIdx = int(codeIdx), textIdx = int(textIdx))
    
embeddings = load_embeddings(vocab, wordVecs, helper, embeddingSize = EMBED_SIZE)
lastTrueWordIdx_train = lastTrueWordIdxs(train)
lastTrueWordIdx_dev = lastTrueWordIdxs(dev)
helper.save(output_path) # token2id and max length saved to output_path
sizeList.append(helper.n_labels)

total_batches = (xTrain.shape[0]//batch_size)
print('Total number of batches per epoch: %d'%(total_batches))
print('Maximum note length: %d'%(helper.max_length))
print('Number of ICD-9 codes: %d'%(helper.n_labels))
print('There are a total of: {} ICD-9 codes'.format(len(helper.icdDict.keys())))
pp.pprint(helper.icdDict)
print('xDev shape: nObs = %d, nWords = %d'%(xDev.shape))
print('yDev shape: nObs = %d, nClasses = %d'%(yDev.shape))
print('xTrain shape: nObs = %d, nWords = %d'%(xTrain.shape))
print('yTrain shape: nObs = %d, nClasses = %d'%(yTrain.shape))
print('Embeddings shape: nWords = %d, wordVec length = %d'%(embeddings.shape))

Is there a previously trained model? [Y/n] n
9
6
<type 'list'>
<type '_csv.reader'>
['', 'HADM_ID', 'SUBJECT_ID', 'ICD9_CODE', 'CHARTDATE', 'DESCRIPTION', 'TEXT', 'Level2ICD', 'TopLevelICD', 'V9']
<type 'list'>
<type 'list'>
<type '_csv.reader'>
['', 'HADM_ID', 'SUBJECT_ID', 'ICD9_CODE', 'CHARTDATE', 'DESCRIPTION', 'TEXT', 'Level2ICD', 'TopLevelICD', 'V9']
<type 'list'>
Total number of batches per epoch: 307
Maximum note length: 1000
Number of ICD-9 codes: 19
There are a total of: 19 ICD-9 codes
{   '': 0,
    '1': 10,
    '10': 1,
    '11': 8,
    '12': 3,
    '13': 2,
    '14': 5,
    '15': 4,
    '16': 7,
    '17': 6,
    '18': 9,
    '2': 12,
    '3': 11,
    '4': 14,
    '5': 13,
    '6': 16,
    '7': 15,
    '8': 18,
    '9': 17}
xDev shape: nObs = 33741, nWords = 1000
yDev shape: nObs = 33741, nClasses = 19
xTrain shape: nObs = 78816, nWords = 1000
yTrain shape: nObs = 78816, nClasses = 19
Embeddings shape: nWords = 10008, wordVec length = 300

The following cell initializes the dictionary of hyperparameters for the model that fully describe the model.

In [6]:
hyperParamDict = {'EMBED_SIZE': EMBED_SIZE,
                  'maxNoteLength': maxAllowedNoteLength,
                  'maxGradNorm': max_grad_norm,
                  'outputKeepProb': output_keep_prob,
                  'inputKeepProb': input_keep_prob,
                  'learningRate': learning_rate,
                  'trainingEpochsMax': training_epochs,
                  'batchSize': batch_size,
                  'n_hidden': n_hidden,
                 'numLayers': numLayers,
                 'sizeList':sizeList}
pp.pprint(hyperParamDict)
with open(os.path.join(output_path, 'hyperParamDict.pickle'), 'wb') as handle:
    pickle.dump(hyperParamDict, handle, protocol = 2)
    #dumping with 2 because ALTUD uses python 2.7 right now.

{   'EMBED_SIZE': 300,
    'batchSize': 256,
    'inputKeepProb': 1,
    'learningRate': 0.001,
    'maxGradNorm': 5,
    'maxNoteLength': 1000,
    'n_hidden': 200,
    'numLayers': 1,
    'outputKeepProb': 0.5,
    'sizeList': [200, 150, 75, 19],
    'trainingEpochsMax': 100}

## Training

Finally, the model is trained (be wary - it will take some time; on an Amazon Deep Learning AMI, it took around an hour to train)...

In [7]:
from trainModel import trainModel
xDev[xDev == -1] = 0
xTrain[xTrain == -1] = 0
trainModel(helperObj = helper, embeddings = embeddings, hyperParamDict = hyperParamDict, 
          xDev = xDev, xTrain = xTrain, yDev = yDev, yTrain = yTrain, 
           lastTrueWordIdx_dev = lastTrueWordIdx_dev, 
           lastTrueWordIdx_train = lastTrueWordIdx_train,
           training_epochs = training_epochs, 
           output_path = output_path, batchSizeTrain = batch_size,
           sizeList = sizeList,
           maxIncreasingLossCount = 100, batchSizeDev = 1500, chatty = True)

shape of embeddings
(?, 1000, 300)
<class 'tensorflow.python.ops.rnn_cell_impl.MultiRNNCell'>
<tensorflow.python.ops.rnn_cell_impl.MultiRNNCell object at 0x7f359cbb97d0>
<class 'tensorflow.python.framework.ops.Tensor'>
(?, 1000, 300)
cell output size
200
cell state size
(LSTMStateTuple(c=200, h=200),)
output shape
(?, 1000, 200)
offset shape
(?, 1)
output shape new shape
(?, 200)
flattened indices shape
(?, 1)
output flattened shape
(?, 200)
(200, 150)
W_1 shape
(150,)
b_1 shape
(150, 75)
W_2 shape
(75,)
bias shape
(19,)
U shape
(75, 19)
bias shape
(19,)
output wx + b
(?, 19)
(?, 19)

/usr/lib/python2.7/dist-packages/tensorflow/python/ops/gradients_impl.py:95: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

***************************
***************************
Running on epoch 0
***************************
***************************
running iteration 0 with loss 0.671181 at time 2.124994
running iteration 25 with loss 0.283091 at time 33.695199
running iteration 50 with loss 0.249370 at time 65.307023
running iteration 75 with loss 0.224971 at time 96.903477
running iteration 100 with loss 0.247238 at time 128.519557
running iteration 125 with loss 0.244419 at time 160.152017
running iteration 150 with loss 0.256121 at time 191.788166
running iteration 175 with loss 0.244464 at time 223.416894
running iteration 200 with loss 0.241822 at time 255.068012
running iteration 225 with loss 0.234088 at time 286.710529
running iteration 250 with loss 0.245816 at time 318.351123
running iteration 275 with loss 0.248200 at time 349.999108
running iteration 300 with loss 0.275373 at time 381.648924
average training loss 0.260528
test loss 0.227216
Total run time was 429.598122
New best model found. Saving
results/az_csu
***************************
***************************
Running on epoch 1
***************************
***************************
running iteration 0 with loss 0.219784 at time 1.270718
running iteration 25 with loss 0.215841 at time 32.927845
running iteration 50 with loss 0.189987 at time 64.595683
running iteration 75 with loss 0.166974 at time 96.258111
running iteration 100 with loss 0.177890 at time 127.909363
running iteration 125 with loss 0.189966 at time 159.569990
running iteration 150 with loss 0.192407 at time 191.227721
running iteration 175 with loss 0.192434 at time 222.869362
running iteration 200 with loss 0.190368 at time 254.511674
running iteration 225 with loss 0.180613 at time 286.157766
running iteration 250 with loss 0.199232 at time 317.800455
running iteration 275 with loss 0.206993 at time 349.451577
running iteration 300 with loss 0.223809 at time 381.094199
average training loss 0.197782
test loss 0.170776
Total run time was 429.033065
New best model found. Saving
results/az_csu
***************************
***************************
Running on epoch 2
***************************
***************************
running iteration 0 with loss 0.165983 at time 1.271848
running iteration 25 with loss 0.168751 at time 32.932684
running iteration 50 with loss 0.142682 at time 64.594317
running iteration 75 with loss 0.125525 at time 96.245745
running iteration 100 with loss 0.138026 at time 127.901789
running iteration 125 with loss 0.150937 at time 159.553881
running iteration 150 with loss 0.152085 at time 191.207850
running iteration 175 with loss 0.157947 at time 222.840902
running iteration 200 with loss 0.153987 at time 254.485722
running iteration 225 with loss 0.139105 at time 286.126722
running iteration 250 with loss 0.149655 at time 317.775338
running iteration 275 with loss 0.176514 at time 349.423530
running iteration 300 with loss 0.184262 at time 381.075187
average training loss 0.156882
test loss 0.133666
Total run time was 429.024100
New best model found. Saving
results/az_csu
***************************
***************************
Running on epoch 3
***************************
***************************
running iteration 0 with loss 0.129159 at time 1.272462
running iteration 25 with loss 0.133134 at time 32.922934
running iteration 50 with loss 0.117153 at time 64.581298
running iteration 75 with loss 0.096975 at time 96.222387
running iteration 100 with loss 0.111581 at time 127.882000
running iteration 125 with loss 0.126458 at time 159.544439
running iteration 150 with loss 0.126709 at time 191.184885
running iteration 175 with loss 0.121914 at time 222.826841
running iteration 200 with loss 0.129340 at time 254.474227
running iteration 225 with loss 0.113473 at time 286.120024
running iteration 250 with loss 0.123242 at time 317.763627
running iteration 275 with loss 0.155603 at time 349.403938
running iteration 300 with loss 0.153808 at time 381.050017
average training loss 0.127813
test loss 0.113228
Total run time was 429.000802
New best model found. Saving
results/az_csu
***************************
***************************
Running on epoch 4
***************************
***************************
running iteration 0 with loss 0.109160 at time 1.276330
running iteration 25 with loss 0.118106 at time 32.928476
running iteration 50 with loss 0.094699 at time 64.572714
running iteration 75 with loss 0.079151 at time 96.230788
running iteration 100 with loss 0.094845 at time 127.889802
running iteration 125 with loss 0.103707 at time 159.537397
running iteration 150 with loss 0.108082 at time 191.180178
running iteration 175 with loss 0.100900 at time 222.819136
running iteration 200 with loss 0.104503 at time 254.461644
running iteration 225 with loss 0.097140 at time 286.103339
running iteration 250 with loss 0.105013 at time 317.753810
running iteration 275 with loss 0.133301 at time 349.389431
running iteration 300 with loss 0.136011 at time 381.037820
average training loss 0.110039
test loss 0.103445
Total run time was 428.989960
New best model found. Saving
results/az_csu
***************************
***************************
Running on epoch 5
***************************
***************************
running iteration 0 with loss 0.102396 at time 1.276922
running iteration 25 with loss 0.097089 at time 32.929029
running iteration 50 with loss 0.085611 at time 64.591196
running iteration 75 with loss 0.071391 at time 96.250803
running iteration 100 with loss 0.087273 at time 127.900893
running iteration 125 with loss 0.097587 at time 159.571627
running iteration 150 with loss 0.098575 at time 191.225406
running iteration 175 with loss 0.089709 at time 222.879889
running iteration 200 with loss 0.095759 at time 254.535112
running iteration 225 with loss 0.083607 at time 286.191019
running iteration 250 with loss 0.093211 at time 317.845049
running iteration 275 with loss 0.119575 at time 349.501732
running iteration 300 with loss 0.119978 at time 381.155637
average training loss 0.098231
test loss 0.097222
Total run time was 429.135116
New best model found. Saving
results/az_csu
***************************
***************************
Running on epoch 6
***************************
***************************
running iteration 0 with loss 0.094408 at time 1.276321
running iteration 25 with loss 0.088160 at time 32.929966
running iteration 50 with loss 0.075178 at time 64.593890
running iteration 75 with loss 0.064418 at time 96.245414
running iteration 100 with loss 0.079576 at time 127.904155
running iteration 125 with loss 0.087545 at time 159.545173
running iteration 150 with loss 0.090180 at time 191.206003
running iteration 175 with loss 0.081317 at time 222.868834
running iteration 200 with loss 0.089167 at time 254.515003
running iteration 225 with loss 0.076174 at time 286.175681
running iteration 250 with loss 0.086978 at time 317.831300
running iteration 275 with loss 0.111049 at time 349.482991
running iteration 300 with loss 0.110224 at time 381.148145
average training loss 0.089838
test loss 0.096868
Total run time was 429.139686
New best model found. Saving
results/az_csu
***************************
***************************
Running on epoch 7
***************************
***************************
running iteration 0 with loss 0.087581 at time 1.273586
running iteration 25 with loss 0.080407 at time 32.932116
running iteration 50 with loss 0.073480 at time 64.599168
running iteration 75 with loss 0.057992 at time 96.267834
running iteration 100 with loss 0.074468 at time 127.917246
running iteration 125 with loss 0.087849 at time 159.587957
running iteration 150 with loss 0.080040 at time 191.236203
running iteration 175 with loss 0.075095 at time 222.880907
running iteration 200 with loss 0.080897 at time 254.543923
running iteration 225 with loss 0.071783 at time 286.202857
running iteration 250 with loss 0.078060 at time 317.851759
running iteration 275 with loss 0.095742 at time 349.501005
running iteration 300 with loss 0.098606 at time 381.170802
average training loss 0.082774
test loss 0.097020
Total run time was 429.153335
validation Loss Increase
***************************
***************************
Running on epoch 8
***************************
***************************

running iteration 0 with loss 0.079211 at time 1.266474
running iteration 25 with loss 0.074628 at time 32.916376
running iteration 50 with loss 0.066893 at time 64.576158
running iteration 75 with loss 0.051411 at time 96.230649
running iteration 100 with loss 0.068470 at time 127.888229
running iteration 125 with loss 0.077177 at time 159.549488
running iteration 150 with loss 0.075836 at time 191.198557
running iteration 175 with loss 0.070868 at time 222.852068
running iteration 200 with loss 0.073820 at time 254.504941
running iteration 225 with loss 0.061037 at time 286.156615
running iteration 250 with loss 0.071956 at time 317.802695
running iteration 275 with loss 0.095531 at time 349.454704
running iteration 300 with loss 0.087856 at time 381.116599
average training loss 0.076485
test loss 0.097558
Total run time was 429.098515
validation Loss Increase
***************************
***************************
Running on epoch 9
***************************
***************************
running iteration 0 with loss 0.071569 at time 1.266530
running iteration 25 with loss 0.068966 at time 32.916485
running iteration 50 with loss 0.062416 at time 64.581354
running iteration 75 with loss 0.047939 at time 96.229083
running iteration 100 with loss 0.065505 at time 127.883530
running iteration 125 with loss 0.071968 at time 159.552089
running iteration 150 with loss 0.074200 at time 191.218381
running iteration 175 with loss 0.065276 at time 222.872679
running iteration 200 with loss 0.070174 at time 254.543748
running iteration 225 with loss 0.055431 at time 286.194670
running iteration 250 with loss 0.064113 at time 317.856324
running iteration 275 with loss 0.093225 at time 349.513451
running iteration 300 with loss 0.086154 at time 381.177952
average training loss 0.070670
test loss 0.101357
Total run time was 429.170859
validation Loss Increase
Stopping early because of increasing validation loss

and the session closed. You should be able to see your results in the `output_path` directory you specified earlier.

To evaluate the results and generate plots and such, please check out `predictionEvaluation.ipynb` in the same repository.

In [8]:
if 'session' in locals() and session is not None:
    print('Close interactive session')
    session.close()